# ─── Environnements Python ──────────────────────────────────
venv/
__pycache__/
*.pyc

# ─── Variables d’environnement sensibles ────────────────────
*.env
backend/.env10
frontend_react/.env

# ─── Node.js / React ───────────────────────────────────────
frontend_react/node_modules/
frontend_react/build/
package-lock.json

# ─── Modèles Hugging Face (trop volumineux) ────────────────
models/

# ─── Fichiers système ─────────────────────────────────────
.DS_Store
Thumbs.db
